# Do not inlcude LaTeX build files in git
*.synctex.gz
*.toc
*.out
*.log
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.nav
*.snm
*.lot
*.lof
*.bcf
*.run.xml

# No binaries in git 
*.pdf

# No auto tags to git
tags
